.slider {
	width: 90%;
	height: 700px;
	left: 5%;
}

#back {
	position: absolute;
	top: 30%;
	transform: translateY(50%);
	left: 2%;
	border: none;
	background-color: rgb(0, 0, 0, 0);
	filter: drop-shadow(2px 2px 1px rgba(0,0,0,.25));
}

#back img {
	height: 50px;
}

#next {
	position: absolute;
	top: 30%;
	transform: translateY(50%);
	right: 2%;
	border: none;
	background-color: rgb(0, 0, 0, 0);
	filter: drop-shadow(2px 2px 1px rgba(0,0,0,.25));
}

#next img {
	height: 50px;
}

button:focus {
	outline: none;
}

#podcasts {
	position: relative;
	top: 10%;
	height: 100%;
}

#add-container{
	margin-bottom: 5%;
	margin-left: 7%;
}

.carousel {
	position: absolute;
	top: 15%;
	width: 100%;
}